@import "tailwindcss";

@theme {
  --color-brand: #1E58D6;
  --color-brand-hover: #1642a8;
  --color-accent: #FFB300;
  --color-accent-hover: #e09d00;
}

body {
  @apply text-slate-800 antialiased;
}
